<<<<<<< HEAD
// Definição
$primary-color: #3498db;
$font-stack: Helvetica, sans-serif;

// Uso
body {
color: $primary-color;
font-family: $font-stack;
=======
// Definição
$primary-color: #3498db;
$font-stack: Helvetica, sans-serif;

// Uso
body {
color: $primary-color;
font-family: $font-stack;
>>>>>>> 8110a567b87ae93acc56cc41a418ae9b049691b4
}