.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aquamarine;
    /*justify-content: space-evenly;*/
    align-items:flex-start;
    align-content: center;
    
}

.container div{
    background-color: bisque;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}