.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aquamarine;
    justify-content: space-evenly;
}

.container div{
    background-color: bisque;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}