header{
    background-color: lightblue;
    padding: 100px;
    margin-bottom: 10px;
}

main{
    background-color: lightgreen;
}

.sectionFlex{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 5px;
    margin-bottom: 10px;
}

div{
    background-color: lightcyan;
    padding: 11px;
    padding-bottom: 100px;
}

.article{
    flex: 1;
    display: flex;
    background-color: lightslategray;
}

#article1 {
    display: flex;
}

#articleTextos {
    display: flex;
    flex-direction: column;
}

.sectionFlex article > div{
    flex: 1;
}

.mainArticle{
    background-color: lightcoral;
    padding: 100px;
    margin-bottom: 10px;
    
}

footer{
    background-color: lightgoldenrodyellow;
    padding: 100px;
}