header{
    background-color: lightblue;
    padding: 100px;
}

main{
    background-color: lightgreen;
}









.sectionFlex{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

 div{
    background-color: lightcyan;
    padding: 100px;
    justify-content: space-between;
}

div#texto, .caixaTextos{
    height: 100%;
}

.article{
    flex-basis: 100%;
    
}

h2{
    
}

















.mainArticle{
    background-color: lightcoral;
    padding: 100px;
    
}

footer{
    background-color: lightgoldenrodyellow;
    padding: 100px;
}