<<<<<<< HEAD
@import "reset";

body {
font-family: Helvetica, sans-serif;
font-size: 18px;
color: red;
}

=======
@import "reset";

body {
font-family: Helvetica, sans-serif;
font-size: 18px;
color: red;
}

>>>>>>> 8110a567b87ae93acc56cc41a418ae9b049691b4
